<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        main {
            max-width: 46em;
            margin: 2em auto;
            padding: 0 1em;
            overflow: hidden;
            word-wrap: break-word;
        }
    </style>
    <script src="https://unpkg.io/htmx.org@0.3.0/dist/htmx.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" integrity="sha512-GZ1RIgZaSc8rnco/8CXfRdCpDxRCphenIiZ2ztLy3XQfCbQUSCuk8IudvNHxkRA3oUg6q0qejgN/qqyG1duv5Q==" crossorigin="anonymous"></script>
    <title>Hello CSCI 466</title>
</head>
<body>
<main>

    <h1><img src="https://avatars2.githubusercontent.com/u/67816555?s=50&v=4"> CS 466 - Compilers</h1>

    <h4 style="color:green">$!message</h4>
    <h4 style="color:red">$!error</h4>
